/* === Importações === */
@import url(../STYLE/adm_page/utilitarios.css);

:root {
  --sidebar-width: 190px;
  --sidebar-collapsed-width: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 20px;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
}

.side_bar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: #0d4aff;
  color: white;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: calc(-1 * var(--sidebar-width) + var(--sidebar-collapsed-width));
  padding-top: 20px;
  z-index: 99;
  transition: left 0.3s ease-in-out;
  font-family: "Jura", sans-serif;
}

.side_bar.open {
  left: 0;
}
.side_bar ul {
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
}

.side_bar ul li {
  padding: 15px;
  text-align: center;
  transition: opacity 0.3s ease, height 0.3s ease;
  opacity: 1;
  overflow: hidden;
}

.side_bar ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  justify-content: center;
}

.side_bar ul li a:hover {
  background-color: #0dffb0;
  border-radius: 10px;
  color: #0d4aff;
  height: auto;
  width: 100px;
  padding: 3px;
}

.content_wrapper {
  /* margin-top: 100px; */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
  position: relative;
  transition: margin-left 0.3s ease-in-out;
  margin-left: var(--sidebar-collapsed-width);
  height: 100%;
}

.side_bar.open + .content_wrapper {
  margin-left: var(--sidebar-width);
  /* padding-left: calc(40px + var(--sidebar-width)); */
}

.espaco_home {
  margin-bottom: 10px;
  margin-top: 40px;
}

.espaco_cadastro {
  margin-bottom: 10px;
}

.espaco_consulta {
  margin-bottom: 420px;
}

.espaco_ajuda {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action_bar {
  position: fixed;
  bottom: 0;
  left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
  padding: 20px;
  display: flex;
  z-index: 1;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.side_bar.open + .action_bar + .content_wrapper {
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}

/*Botaõ salvar*/
.salvar {
  background-color: #0d4aff;
  color: #0dffb0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Jura";
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease-in-out;
}
.salvar:hover {
  background-color: #0dffb0;
  color: #0d4aff;
}

.side_bar.open + .content_wrapper .salvar {
  /* left: calc(var(--sidebar-width));
  width: calc(30% - var(--sidebar-collapsed-width)); */
  margin-left: calc(
    40px + (var(--sidebar-width) - var(--sidebar-collapsed-width))
  );
}

/*Botaõ cancelar*/
.cancelar {
  background-color: transparent;
  color: #6b6b6b;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Jura";
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: left 0.3s ease-in-out, width 0.3s ease-in-out; */
  transition: margin-left 0.3s ease-in-out;
}

.cancelar:hover {
  background-color: #b3b3b3;
}

/*Botão com responsividade funionando*/
.voltar {
  background-color: transparent;
  color: #6b6b6b;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Jura";
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* will-change: transform;
  transition: transform 0.4s ease-in-out;
  transform: translateX(0); */
  transition: margin-left 0.3s ease-in-out;
  margin-left: 30px;
}

.voltar:hover {
  background-color: #b3b3b3;
}

.side_bar.open + .content_wrapper .voltar {
  margin-left: calc(
    30px + (var(--sidebar-width) - var(--sidebar-collapsed-width))
  );
}

.editar {
  background-color: #0d4aff;
  color: #0dffb0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Jura";
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editar:hover {
  background-color: #0dffb0;
  color: #0d4aff;
}

/* Breadcrumb */
.breadcrumb {
  width: 100%;
  height: auto;
  font-size: 20px;
  background-color: #ffffff;
  font-weight: 700;
  /* padding: 10px; */
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb ul {
  flex: 1;
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
  margin: 0;
  font-family: "Jura-Light", sans-serif;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  padding: 5px;
}

.breadcrumb li:not(:last-child)::after {
  content: ">";
  margin-left: 5px;
  color: rgb(0, 234, 255);
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(106, 106, 114);
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.painel_head {
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: calc(var(--sidebar-collapsed-width) + 20px);
  width: calc(100% - var(--sidebar-collapsed-width) - 40px);
  padding: 10px 0;
  background: #fff;
  display: flex;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  z-index: 99;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.side_bar.open + .content_wrapper .painel_head {
  left: calc(var(--sidebar-width) + 20px);
  width: calc(100% - var(--sidebar-width) - 40px);
}

.botao_editar {
  position: static;
  z-index: 10;
}

.hidden {
  display: none !important;
}

.produto_header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 40px 20px 40px;
  /* position: relative; Removi para teste */
  /* top: 65px;
  left: 60px; */
  width: 100%;
  z-index: 10;
  margin-top: 50px;
}

.img_produto {
  width: 120px;
  height: 100px;
}

.imagem_produto {
  display: flex;
  align-items: center;
}

.titulo {
  /* position: absolute; */
  color: black;
  font-family: "Poppins", sans-serif; /*Mudar para poppins*/
  padding: 0;
  white-space: nowrap;
  font-size: 30px;
  z-index: 20;
}

.ondinha {
  width: 100%;
  padding: 0px;
  position: absolute;
  top: 3px;
  left: 25px;
}

.ondinha img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.burguer {
  position: fixed;
  top: 5px;
  left: var(--sidebar-collapsed-width);
  font-size: 30px;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  background: transparent;
  border: none;
  color: #0dffb0;
  border: none;
  padding: 0;
}

.side_bar.open + .content_wrapper .burguer {
  left: var(--sidebar-width);
}

.burguer:hover {
  background-color: #919191;
}

.burguer {
  position: absolute;
  top: 5px;
  left: 100%;
  transform: translateX(-140%);
  font-size: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
}

.side_bar .burguer:hover {
  background-color: transparent;
}

.painel_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* align-items: center; */
  /* margin-top: 150px; */
  width: 100%;
  /* gap: 100px; */
}

/* Barra de Filtros */
.nav-tabs {
  border-bottom: 2px solid #ddd;
  /* margin-top: 30px; */
  margin-left: auto;
  width: 100%;
}
.filter-nav {
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: flex-start;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  margin-left: 0px;
  margin-top: 0px;
  padding: 5px 20px 5px 20px;
}
.filter {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.filter.active {
  font-weight: bold;
  opacity: 1;
}

/* Estilo do indicador ativo */
.active-indicator {
  position: absolute;
  height: 3px;
  background: blue;
  bottom: 0;
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 10;
  left: 0;
  will-change: transform;
}

.aba {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.aba_active {
  opacity: 1;
  visibility: visible;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.img_produtos {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}

.img_estoque {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}

.img_config {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}

.img_home {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}

.dados_gerais_visualizar {
  max-width: 1000px;
  width: 100%;
  margin-left: 40px;
  margin-right: auto;
  margin-top: 40px;
  font-family: "Jura", sans-serif;
  white-space: nowrap;
  padding-bottom: 2px;
  position: absolute;
}

.dados_produto_visualizacao {
  /* gap: 20px; */
  display: grid;
  grid-template-columns: repeat(200px, 1fr);
  margin-top: 15px;
  /* margin-bottom: 30px; */
}

.linhas_visu {
  display: flex;
  margin-bottom: 40px;
}

.coluna_visu {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.coluna_visu label {
  margin-bottom: 2px;
  font-weight: 600;
}

.linha_divisoria {
  position: relative;
  border-bottom: 2px solid #bdbdbd;
  margin-bottom: 20px;
  width: auto;
}

.dimensoes_peso label {
  font-weight: 700;
  margin-top: 10px;
}

.dados_gerais_edicao {
  max-width: 1000px;
  width: 100%;
  margin-left: 80px;
  margin-right: auto;
  font-family: "Jura", sans-serif;
  white-space: nowrap;
  padding-bottom: 2px;
  position: relative;
  z-index: 2;
}

.linhas {
  display: flex;
  gap: 200px;
}

.coluna {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  min-width: 0;
}

.coluna label {
  margin-bottom: 2px;
  font-weight: 600;
}

.coluna input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4a4343;
  font-size: 1rem;
  width: 400px;
  text-align: center;
  font-family: "Jura", sans-serif;
  background-color: #bdbdbd;
}

.coluna_dimensoes input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4a4343;
  font-size: 1rem;
  width: 150px;
  text-align: center;
  font-family: "Jura", sans-serif;
  background-color: #bdbdbd;
}

.linhas_dimensoes {
  display: flex;
  gap: 100px;
}

.linha_precos {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.preco_venda input {
  width: 150px;
  margin-bottom: 10px;
}

.preco_venda label {
  font-weight: 600;
  margin-top: 10px;
}

.dados_produtos {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Jura", sans-serif;
}

.dados_produto {
  /* margin-top: 15px; */
}

.dados_estoque_visu {
  max-width: 1000px;
  margin-top: 40px;
  width: 100%;
  margin-left: 40px;
  margin-right: auto;
  font-family: "Jura", sans-serif;
  position: absolute;
}

.linhas_estoque {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.coluna_estoque {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.coluna_estoque::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #bdbdbd;
}

/* Adiciona estilo para os agrupamentos internos */
.itens_estoque {
  display: flex;
  gap: 205px;
  margin-top: 10px;
}
.itens_validade {
  display: flex;
  gap: 180px;
  margin-top: 10px;
}
.itens_fornecedor {
  display: flex;
  gap: 150px;
  margin-top: 10px;
}

/* Estilo individual de cada item (label + input) */
.item {
  display: flex;
  flex-direction: column;
}

/* Aplica estilo uniforme para os inputs */
.item input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4a4343;
  font-size: 1rem;
  width: 200px;
  text-align: center;
  font-family: "Jura", sans-serif;
  background-color: #bdbdbd;
}
/* Aplica estilo uniforme para os labels */
.item label {
  margin-bottom: 5px;
  font-weight: 600;
}

.titulo_1 {
  font-weight: 700;
  font-size: 22px;
}
.titulo_2 {
  font-weight: 700;
  font-size: 22px;
}
.titulo_3 {
  font-weight: 700;
  font-size: 22px;
}

.descricao {
  display: -webkit-box; /* empilha em “caixas” */
  -webkit-box-orient: vertical; /* orienta em colunas */
  -webkit-line-clamp: 3; /* mostra até 3 linhas */
  overflow: hidden; /* esconde o que passar */
  text-overflow: ellipsis; /* reticências na última linha */

  /* controla espaço vertical para 3 linhas */
  line-height: 1.2em; /* ajuste conforme seu design */
  max-height: calc(1.2em * 3); /* altura = linha × nº de linhas */

  /* largura responsiva */
  width: 800px;
  box-sizing: border-box;
  white-space: normal; /* permite quebra automática */
  overflow-wrap: break-word; /* tenta quebrar nas “palavras” */
  word-break: break-all; /* forçar quebra em qualquer posição */
}

@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (max-width: 768px) {
  .side_bar {
    width: 190px; /* Menor largura da sidebar em telas pequenas */
  }

  .dados_gerais,
  .dados_estoque {
    padding: 15px;
  }

  main {
    margin-left: 0;
  }
}

.filter.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f0f0f0;
}

.filter.hidden {
  display: none !important;
}

@media (max-width: 766px) {
  .main {
    /* height: 100%; */
    overflow: auto;
  }

  .linhas,
  .linhas_visu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 20px;
    /* margin-left: 40px; */
  }

  .coluna,
  .coluna_visu,
  .coluna_dimensoes {
    flex: 0 0 calc((100% - 1rem) / 2);
    box-sizing: border-box;
  }

  .coluna:nth-child(2n + 1),
  .coluna_visu:nth-child(2n + 1),
  .coluna_dimensoes:nth-child(2n + 1),
  .item:nth-child(2n + 1) {
    clear: left;
  }

  .coluna input,
  .coluna_dimensoes input,
  .item input,
  .descricao {
    width: 100%;
    box-sizing: border-box;
  }

  .coluna_visu div {
    width: 100%;
  }

  .content_wrapper {
    /* margin-left: 0; */
    padding: 1rem;
  }

  /* .action_bar {
    left: 0 !important;
    width: 100% !important;
    flex-direction: column;
    gap: 0.5rem;
  } */

  /* #titulo_dimensoes {
    /* margin-left: 40px; 
  } 
  */

  .dados_gerais_edicao {
    margin-left: auto;
  }

  .dados_estoque_visu {
    margin-left: auto;
    margin-top: 100px;
  }

  .painel_body {
    display: flex;
    /* height: 100%; */
    margin-top: auto;
    margin-bottom: auto;
  }

  .dados_produto_visualizacao {
    height: 100%;
    margin-top: 15px;
  }
  .itens_estoque,
  .itens_fornecedor,
  .itens_validade {
    flex-direction: column;
    gap: 1rem;
    display: block;
  }

  .coluna_estoque:nth-child(2n + 1),
  .coluna_estoque:nth-child(2n + 1),
  .coluna_estoque:nth-child(2n + 1),
  .item:nth-child(2n + 1) {
    clear: left;
  }

  .produto_header {
    position: relative;
    display: grid;
    margin: 0;
    top: 30px;
    gap: 10px;
    padding: 10px;
  }

  .nav-tabs {
    margin-top: auto;
  }

  .dados_gerais_visualizar {
    margin-top: 50px;
    margin-left: auto;
  }

  .painel_head {
    left: calc(var(--sidebar-collapsed-width));
  }

  .dados_produto {
    gap: 20px;
  }
  .titulo {
    display: -webkit-box; /* ativa o box flexível */
    -webkit-box-orient: vertical; /* orienta em colunas */
    -webkit-line-clamp: 2; /* máximo de 2 linhas */
    overflow: hidden; /* esconde o restante */
    white-space: normal;
  }

  .descricao {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1.2em;
    max-height: calc(1.2em * 3);

    width: 100%;
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: break-word; /* tenta quebrar nas “palavras” */
    word-break: break-all; /* forçar quebra em qualquer posição */
  }
}
