/* === Importações === */
@import url(../STYLE/adm_page/utilitarios.css);

/* Reset de Estilo cada vez que se recarrega */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e Containers principais */
body {
  display: flex;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: margin-left 0.3s ease-in-out;
}
/*sidebar e conteudos*/
.side_bar {
  width: 190px;
  height: 100vh;
  background-color: #0d4aff;
  color: white;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: -140px;
  padding-top: 20px;
  z-index: 2;
  transition: left 0.3s ease-in-out;
  font-family: "Jura", sans-serif;
}

.side_bar.open {
  left: 0;
}
.side_bar ul {
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
}

.side_bar ul li {
  padding: 15px;
  text-align: center;
  transition: opacity 0.3s ease, height 0.3s ease;
  opacity: 1;
  overflow: hidden;
}

.side_bar ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  justify-content: center;
}

.side_bar ul li a:hover {
  background-color: #0dffb0;
  border-radius: 10px;
  color: #0d4aff;
  height: auto;
  width: 100px;
  padding: 3px;
}
.espaco_home {
  margin-bottom: 10px;
  margin-top: 40px;
}

.espaco_cadastro {
  margin-bottom: 10px;
}

.espaco_consulta {
  margin-bottom: 420px;
}

.espaco_ajuda {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ondinha {
  width: 100%;
  padding: 0px;
  position: absolute;
  top: 3px;
  left: 25px;
}

.ondinha img {
  width: 100px;
  height: auto;
  object-fit: contain;
}
.img_produtos {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}
.img_estoque {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}
.img_config {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}
.img_home {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 150px;
}

.side_bar.open + .action_bar {
  width: calc(100% - 200px);
  left: 200px;
}
/*botão hamburguer*/
.burguer {
  position: fixed;
  top: 0px;
  left: 10px;
  color: #0dffb0;
  border: none;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  z-index: 3;
  background-color: transparent;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.burguer:hover {
  background-color: #919191;
}
/*corpo*/
.home_head,
.home_tabela {
  background-color: #ffffff;
  margin-left: 40px;
}

.home_tabela {
  overflow: auto;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Jura", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 50px;
}

th,
td {
  border-bottom: 2px solid #0dffb0;
  text-align: center;
  padding: 10px;
}

thead {
  background-color: #eaeaea;
}

th:nth-child(1),
td:nth-child(1) {
  width: 60px;
  height: 30px;
  text-align: center;
}

/* Estilo da checkbox */
input[type="checkbox"] {
  transform: scale(1);
  cursor: pointer;
  -webkit-appearance: none; /* Remove o estilo padrão */
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #0dffb0;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: 0.1s ease;
  left: 10px;
}

/* Quando a checkbox estiver marcada, coloca a imagem */
input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../ASSETS/ÍCONES/checkbox-ativo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilo para a checkbox não marcada */
input[type="checkbox"]:not(:checked) {
  background-color: #fff;
  border-color: #4a4343;
}

/* Estilo para a checkbox marcada */
input[type="checkbox"]:checked {
  border-color: #0dffb0;
}

/*ocultando a checkbox sem removela*/
#selectAll,
.produto-checkbox {
  visibility: hidden;
}

/*paginação da tabela*/
.paginacao-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 100px;
  justify-content: left;
  bottom: 0;
  background-color: var(--bg-color);
}

.pagina-btn {
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  gap: 7px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.2s ease;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.4;
}

.pagina-btn.ativa {
  color: #0dffb0;
  opacity: 1;
}

/* Breadcrumb */
.breadcrumb {
  width: 100%;
  height: auto;
  font-size: 20px;
  background-color: #ffffff;
  font-weight: 700;
  padding: 10px;
  white-space: nowrap;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  margin-left: 30px;
  display: flex;
}

.breadcrumb ul {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
  margin: 0;
  font-family: "Jura", sans-serif;
  font-weight: 700;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  padding: 5px;
}

.breadcrumb li:not(:last-child)::after {
  content: ">";
  margin-left: 5px;
  color: rgb(0, 234, 255);
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(106, 106, 114);
}

.breadcrumb a:hover {
  text-decoration: underline;
}
/*Botao incluir produto*/
a.inc-produto {
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  border: none;
  border-radius: 4px;
  padding-top: 4px;
  padding-right: 30px;
  padding-bottom: 4px;
  padding-left: 30px;
  background-color: #0d4aff;
  color: #f0f0f0;
  font-family: "Jura", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-left: auto;
  margin-right: 70px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow;
}
a.inc-produto:active {
  transform: scale(0.9);
}

/* Títulos */
.head-title {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  margin: 10px 50px;
  font-weight: 600;
}

/* Barra de Pesquisa */
.search-container {
  width: calc(100% - 40px);
  max-width: 600px;
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dedede;
  background-color: #dedede;
}

#searchInput {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 1px solid #dedede;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  background-color: #dedede;
}

.search-button {
  background-color: #dedede;
  border: none;
  cursor: pointer;
  z-index: 10;
}

/* Barra de Filtros */
.filter-nav {
  display: flex;
  gap: 10px;
  position: relative;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
  margin-left: 50px;
}

.filter {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  opacity: 0.4;
}

.filter.active {
  font-weight: bold;
  opacity: 1;
}

/* Estilo do indicador ativo */
.active-indicator {
  position: absolute;
  height: 4px;
  background: #4a4343;
  bottom: 0;
  transition: all 0.3s ease;
  z-index: 10;
  left: 0;
  will-change: transform;
}

/* Responsividade */
@media screen and (max-width: 766px) {
  h1 {
    margin: 0;
    padding: 10px;
  }

  .home_side_bar {
    width: 80px;
  }

  .home_head {
    margin-left: 0;
  }

  .home_tabela {
    width: 100%;
    margin-left: 0;
  }
  .breadcrumb {
    justify-content: space-between;
    margin: 0;

    & a {
      margin: 0;
    }
  }
  .breadcrumb li {
    width: auto;
  }

  .filter-bar {
    padding: 10px;
  }

  .filter-nav ul {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .filter-nav {
    margin: 0;
    padding: 5px;
  }

  .search-container {
    width: 95%;
    max-width: 500px;
    margin: 0;

    & .search-button {
      border-radius: 10%;
    }
  }

  .paginacao-container {
    margin: 0;
    padding: 10px;
  }

  .pagina-btn {
    padding: 0;
  }
}
