/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* === Global === */
:root {
  /* === Cores === */
  --primary-color: #0d4aff;
  --details-color: #0dffb0;
  --white-color: #fff;
  --text-color: #000;
  --label-color: #dedede;
  --text-label-color: #4a4343;
  --bg-color: #eaeaea;
  /* === Tipografia === */
  --font-size-xs: 0.694rem;
  --font-size-sm: 0.833rem;
  --font-size-md: 1rem;
  --font-size-lg: 2.074rem;
  --font-size-xl: 2.488rem;
  --font-size-xxl: 2.986rem;
  /* === Espaçamentos === */
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 2.4rem;
  --spacing-xl: 3.2rem;
  --spacing-xxl: 4.8rem;
  /* === Raio === */
  --radius-xs: 0.366rem;
  --radius-sm: 0.4rem;
  --radius-md: 0.8rem;
  --radius-lg: 1rem;
  /* === Fontes === */
  --default-font-weight: 700;
  --default-font: "Jura", system-ui, -apple-system, sans-serif;
  --head-title-font: "Poppins", system-ui, -apple-system, sans-serif;
  --subhead-font: "Poppins", system-ui, -apple-system, sans-serif;
}
